In [39]:
# importing the required libray.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
# reading the provided data set.
df =pd.read_csv('test.csv')

In [41]:
# reading first 10 rows from data set.
df.head(10)

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1
5,2012-12-01 21:12:12.0000005,2012-12-01 21:12:12 UTC,-73.960983,40.765547,-73.979177,40.740053,1
6,2011-10-06 12:10:20.0000001,2011-10-06 12:10:20 UTC,-73.949013,40.773204,-73.959622,40.770893,1
7,2011-10-06 12:10:20.0000003,2011-10-06 12:10:20 UTC,-73.777282,40.646636,-73.985083,40.759368,1
8,2011-10-06 12:10:20.0000002,2011-10-06 12:10:20 UTC,-74.014099,40.709638,-73.995106,40.741365,1
9,2014-02-18 15:22:20.0000002,2014-02-18 15:22:20 UTC,-73.969582,40.765519,-73.980686,40.770725,1

In [42]:
# viewing the information about dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                9914 non-null   object
 1   pickup_datetime    9914 non-null   object
 2   pickup_longitude   9914 non-null   float64
 3   pickup_latitude    9914 non-null   float64
 4   dropoff_longitude  9914 non-null   float64
 5   dropoff_latitude   9914 non-null   float64
 6   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 542.3+ KB

In [43]:
# describing the stats of the dataset.
df.describe()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9914.000000,9914.000000,9914.000000,9914.000000,9914.000000
mean,-73.974722,40.751041,-73.973657,40.751743,1.671273
std,0.042774,0.033541,0.039072,0.035435,1.278747
min,-74.252193,40.573143,-74.263242,40.568973,1.000000
25%,-73.992501,40.736125,-73.991247,40.735254,1.000000
50%,-73.982326,40.753051,-73.980015,40.754065,1.000000
75%,-73.968013,40.767113,-73.964059,40.768757,2.000000
max,-72.986532,41.709555,-72.990963,41.696683,6.000000

### 1. What is the data type of each column in the dataset, and how might the data types affect the analysis and visualization of the data?

In [23]:
df.dtypes

key                   object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

### 2. How many rows are in the dataset, and how might the size of the dataset affect the efficiency and accuracy of the analysis?

In [24]:
len(df)

9914

In [5]:
df.shape

(9914, 7)

In [18]:
df.isnull().count()

key                  9914
pickup_datetime      9914
pickup_longitude     9914
pickup_latitude      9914
dropoff_longitude    9914
dropoff_latitude     9914
passenger_count      9914
dtype: int64

### 3. How many unique values are there in the 'passenger_count' column, and what insights might this provide about the user behavior or demand patterns?

In [28]:
df['passenger_count'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

### 4. What is the maximum longitude value in the dataset, and how might this value affect the spatial analysis or visualization of the data?

In [31]:
df['pickup_longitude'].max()

-72.986532

In [30]:
df['dropoff_longitude'].max()

-72.990963

In [33]:
df.max()

key                  2015-06-30 20:03:50.0000005
pickup_datetime          2015-06-30 20:03:50 UTC
pickup_longitude                      -72.986532
pickup_latitude                        41.709555
dropoff_longitude                     -72.990963
dropoff_latitude                       41.696683
passenger_count                                6
dtype: object

### 5. What is the average latitude value in the dataset, and how might this value provide insights into the spatial distribution or density of the pickups and dropoffs?

In [57]:
df['pickup_latitude'].mean()

40.75104072349318

In [36]:
df['dropoff_latitude'].mean()

40.75174278102696

### 6. What is the pickup_datetime of the first row in the dataset, and how might the timestamp format affect the temporal analysis or visualization of the data?

In [39]:
df['pickup_datetime'].head(1)

0    2015-01-27 13:08:24 UTC
Name: pickup_datetime, dtype: object

### 7. How many rows have a passenger_count greater than 1, and what insights might this provide about the user behavior or demand patterns?

In [36]:
df['passenger_count'][df['passenger_count']>1].count()

3000

In [38]:
df['passenger_count'][df['passenger_count']==1].count()

6914

### 8. What is the range of values in the pickup_latitude column, and how might this value affect the spatial analysis or visualization of the data?

In [62]:
lower_value =df['pickup_latitude'].min()
lower_value

40.573143

In [63]:
higher_value=df['pickup_latitude'].max()
higher_value

41.709555

In [70]:
# range of values in the pickup_latitude column
print("        ","lower_value","higher_value")
print("range : ",lower_value," - ",higher_value)

         lower_value higher_value
range :  40.573143  -  41.709555

### 9. How many rows have missing values, and how might the missing data affect the accuracy and reliability of the analysis?

In [84]:
df.isna().sum()

key                  0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [85]:
df.isnull().sum()

key                  0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

There is no missing row.

### 10. What is the correlation between pickup_longitude and dropoff_longitude, and how might this correlation provide insights into the spatial relationships or patterns of the pickups and dropoffs?

In [7]:
df[['pickup_longitude','dropoff_longitude']].corr()

                   pickup_longitude  dropoff_longitude
pickup_longitude           1.000000           0.437949
dropoff_longitude          0.437949           1.000000

In [8]:
df.corr()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
pickup_longitude,1.000000,0.284509,0.437949,0.246595,0.006398
pickup_latitude,0.284509,1.000000,0.274527,0.520171,-0.025120
dropoff_longitude,0.437949,0.274527,1.000000,0.344918,0.012389
dropoff_latitude,0.246595,0.520171,0.344918,1.000000,0.005606
passenger_count,0.006398,-0.025120,0.012389,0.005606,1.000000

### 11. What is the median passenger_count in the dataset, and how might this value provide insights into the user behavior or demand patterns?

In [12]:
df['passenger_count'].median()

1.0

In [13]:
df.median()

C:\Users\AdityaKumar\AppData\Local\Temp\ipykernel_29508\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

pickup_longitude    -73.982326
pickup_latitude      40.753051
dropoff_longitude   -73.980015
dropoff_latitude     40.754065
passenger_count       1.000000
dtype: float64

### 12. How many rows have pickup_latitude values greater than 41, and what insights might this provide about the spatial distribution or density of the pickups and dropoffs?

In [24]:
df['pickup_latitude'][df['pickup_latitude']>41].count()

9

### 14. How many rows have pickup_longitude values between -74 and -73.5, and how might this spatial filter affect the analysis or visualization of the data?

In [46]:
a=df['pickup_longitude'][df['pickup_longitude']<-73.5].count()
a

9906

In [47]:
b=df['pickup_longitude'][df['pickup_longitude']>-74].count()
b

8530

In [48]:
df['pickup_longitude'].describe()

count    9914.000000
mean      -73.974722
std         0.042774
min       -74.252193
25%       -73.992501
50%       -73.982326
75%       -73.968013
max       -72.986532
Name: pickup_longitude, dtype: float64

In [49]:
s={a,b}